.grid_12
  %table.data_table.ui-widget
    %thead.ui-widget-header
      %tr
        %th Numbers
        %th Owner
        %th Reserved Since
        %th Actions
    %tbody
      - if @set_data.length == 0
        %tr.odd 
          %td.empty_notice{ :colspan => 4 } No Reservations or ranges found for this set
      - @set_data.each_with_index do |row, index|
        %tr{ :class => (index % 2 == 1) ? 'even' : 'odd' }
          - if row.class == Sequence
            %td&= row.min == row.max ? row.formatted_min : "#{row.formatted_min}-#{row.formatted_max}"
            %td{ :colspan => 3 } Available
          - else
            %td&= row.formatted_number
            %td&= row.user.name
            %td&= row.created_at.strftime("%Y-%m-%d")
            %td
              - if @user.is_admin || row.user.id == @user.id
                %form.ui-widget{ :style => "margin:0;", :method => "POST", :action => "/sets/#{@set.id}/reservations/#{row.id}" }
                  %input{ :name => "_method", :value => "DELETE", :type => "hidden" }
                  %input.ui-state-default.ui-corner-all{ :type => "submit", :value => "Release" }

.ui-widget.ui-corner-all.clearfix{ :style => "padding-top:20px;clear:both" }
  %form{ :method => "POST", :action => "/sets/#{@set.id}/reservations" }
    .grid_1{ :style => "text-align: right" }
      %label{ :for => "number" } Number:
    .grid_2
      %input#number.ui-state-default.ui-corner-all{ :type => "text", :name => "number" }
    .grid_2
      %input.ui-state-default.ui-corner-all{ :type => "submit", :value => "Reserve" }
    .grid_2.prefix_1
      %input.ui-state-default.ui-corner-all{ :type => "submit", :name => "autoreserve", :value => "Auto Reserve" }
%hr.grid_12
- if @user.is_admin
  .ui-widget.ui-corner-all{ :style => "padding-top:20px;clear:both" }
    %h2.grid_12 Add/Remove ranges.
    %form{ :method => "POST", :action => "/sets/#{@set.id}/sequences" }
      .grid_1{ :style => "text-align: right" }
        %label{ :for => "min" } From:
      .grid_2.suffix_9
        %input#min.ui-state-default.ui-corner-all{ :type => "text", :name => "min" }
      .grid_1{ :style => "text-align: right" }
        %label{ :for => "max" } To:
      .grid_2
        %input#max.ui-state-default.ui-corner-all{ :type => "text", :name => "max" }
      .grid_2
        %input.ui-state-default.ui-corner-all{ :type => "submit", :name => "add", :value => "Make Available" }
      .grid_3
        %input.ui-state-default.ui-corner-all{ :type => "submit", :name => "remove", :value => "Remove From Pool" }
