.grid_12
  %table.data_table.ui-widget
    %thead.ui-widget-header
      %tr
        %th Numbers
        %th Owner
        %th Reserved Since
        %th Actions
    %tbody
      - if @set.reservations.length == 0
        %tr.odd 
          %td.empty_notice{ :colspan => 4 } No Reservations found for this set
      - @set_data.each_with_index do |row, index|
        %tr{ :class => (index % 2 == 1) ? 'even' : 'odd' }
          - if row.class == Sequence
            %td&= row.min == row.max ? row.min : "#{row.min}-#{row.max}"
            %td{ :colspan => 3 } Available
          - else
            %td&= row.number
            %td&= row.user.name
            %td&= row.created_at.strftime("%Y-%m-%d")
            %td
              - if @user.is_admin || row.user.id == @user.id
                %form.ui-widget{ :style => "margin:0;", :method => "POST", :action => "/sets/#{@set.id}/reservations/#{row.id}" }
                  %input{ :name => "_method", :value => "DELETE", :type => "hidden" }
                  %input.ui-state-default.ui-corner-all{ :type => "submit", :value => "Release" }

.ui-widget.ui-corner-all{ :style => "padding-top:20px;clear:both" }
  %form{ :method => "POST", :action => "/sets/#{@set.id}/reservations" }
    .grid_1{ :style => "text-align: right" }
      %label{ :for => "number" } Number:
    .grid_2
      %input#number.ui-state-default.ui-corner-all{ :type => "text", :name => "number" }
    .grid_2
      %input.ui-state-default.ui-corner-all{ :type => "submit", :value => "Reserve" }
    .grid_2.prefix_1
      %input.ui-state-default.ui-corner-all{ :type => "submit", :name => "autoreserve", :value => "Auto Reserve" }
