.grid_12
  %table.data_table.ui-widget
    %thead.ui-widget-header
      %tr
        %th Number Set
        %th Type
        %th # Available
        %th # Reserved 
        %th % Free
        %th Actions
    %tbody
      - @sets.each_with_index do |set, index|
        - total = set.sequences.inject(0) {|sum, seq| sum + seq.max - seq.min}
        - used = set.reservations.length
        %tr{ :class => (index % 2 == 1) ? 'even' : 'odd' }
          %td&= set.name
          %td&= set.type
          %td&= total - used
          %td&= used
          %td&= total == 0 ? "na" : "#{(100 * (total - used) / total)}%"
          %td
            %form.ui-widget{ :style => "margin:0;", :method => "GET", :action => "/sets/#{set.id}" }
              %input.ui-state-default.ui-corner-all{ :type => "submit", :value => "Details" }
- if @user.is_admin
  .ui-widget.ui-corner-all{ :style => "padding-top:20px;clear:both" }
    %form{ :method => "POST", :action => "/sets" }
      .grid_3
        %label{ :for => "name" } Add a new number set
        %br
        %input#name.ui-state-default.ui-corner-all{ :type => "text", :name => "new_set[name]" }      
      .grid_2
        %label{ :for => "type" } 
        %br
        %select#type.ui-state-default.ui-corner-all{ :name => "new_set[type]" }
          %option{ :value => "int"} Integer
          %option{ :value => "ip"} IP Address
      .grid_2
        %br
        %input.ui-state-default.ui-corner-all{ :type => "submit", :value => "Create" }
