%h1.grid_12 System Users
.grid_12
  %table.data_table.ui-widget
    %thead.ui-widget-header
      %tr
        %th Username
        %th Name
        %th Type
        %th # Reserved Numbers
        %th Actions
    %tbody
      - @users.each_with_index do |user, index|
        %tr{ :class => (index % 2 == 1) ? 'even' : 'odd' }
          %td&= user.username
          %td&= user.name
          %td&= user.is_admin ? "Administrator" : "Normal User"
          %td
          %td
            %a{ :href => "#{PAGES[:users]}/#{user.id}" } Details
.ui-widget.ui-corner-all
  %form{ :method => "POST", :action => PAGES[:users] }
    .grid_3
      %label{ :for => "username" } New Username
      %br
      %input#username{ :type => "text", :name => "new_user[username]" }
    .grid_3
      %label{ :for => "name" } New Real Name
      %br
      %input#name{ :type => "text", :name => "new_user[name]" }
    .grid_2
      %label{ :for => "is_admin" } Type of user
      %br
      %select#is_admin{ :name => "new_user[is_admin]" }
        %option{ :value => "false" } Normal User
        %option{ :value => "true" } Administrator
    .grid_2
      %br
      %input{ :type => "submit", :value => "Add New User" }
