%form.ui-widget{ :method => "POST", :action => "/users/#{@user_data.id}" }
  %input{ :name => "_method", :value => "PUT", :type => "hidden" }
  .grid_2{ :style => "text-align: right" }
    %label{ :for => "username" } Username:
  .grid_3
    %input.ui-state-default.ui-corner-all{ :tabindex => 1, :id => "username", :name => "user[username]", :value => @user_data.username }
  .grid_2.prefix_2{ :style => "text-align: right" }
    %label{ :for => "password" } Password:
  .grid_3
    %input.ui-state-default.ui-corner-all{ :tabindex => 3, :id => "password", :name => "user[password]", :type => "password"}

  .grid_2{ :style => "text-align: right" }
    %label{ :for => "name" } Real Name:
  .grid_3
    %input.ui-state-default.ui-corner-all{ :tabindex => 2, :id => "name", :name => "user[name]", :value => @user_data.name }
  .grid_2.prefix_2{ :style => "text-align: right" }
    %label{ :for => "password2" } Password again:
  .grid_3
    %input.ui-state-default.ui-corner-all{ :tabindex => 4, :id => "password2", :name => "user[password2]", :type => "password"}
  - if @user.is_admin
    .grid_2{ :style => "text-align: right" }
      %label{ :for => "username" } Type:
    .grid_3
      %select#is_admin.ui-state-default.ui-corner-all{ :name => "user[is_admin]" }
        %option{ :value => "false", :selected => !@user_data.is_admin } Normal User
        %option{ :value => "true" , :selected => @user_data.is_admin } Administrator
  - if @user.is_admin || @user_data.id == @user.id
    .grid_2{ :class => "prefix_#{@user.is_admin ? 5 : 10}" }
      %input.ui-state-default.ui-corner-all{ :tabindex => 5, :type => "submit", :value => "Save Changes" }

%h1.grid_12 My Reserved Numbers
.grid_12
  %table.data_table.ui-widget
    %thead.ui-widget-header
      %tr
        %th Number Set
        %th Number
        %th Reserved Since
        %th Actions
    %tbody
      - if @user_data.reservations.length == 0
        %tr.odd 
          %td.empty_notice{ :colspan => 4 } No Reservations found for this user
      - @user_data.reservations.each_with_index do |num, index|
        %tr{ :class => (index % 2 == 1) ? 'even' : 'odd' }
          %td&= num.numberset.name
          %td&= num.formatted_number
          %td&= num.created_at.strftime("%Y-%m-%d")
          %td
            - if @user.is_admin || @user_data.id == @user.id
              %form.ui-widget{ :style => "float:left;margin:0;", :method => "POST", :action => "/users/#{@user_data.id}/reservations/#{num.id}" }
                %input{ :name => "_method", :value => "DELETE", :type => "hidden" }
                %input.ui-state-default.ui-corner-all{ :type => "submit", :value => "Release" }